.feature {
  background-color: $emerald;

  @media (max-width: 1199px) {
  }

  .feature-container {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .feature-left-col {
      order: 1;
      width: 50%;
      padding-right: 200px;

      @media (max-width: 1399px) {
        padding-right: 115px;
      }

      @media (max-width: 1199px) {
        padding-right: 70px;
      }

      @media (max-width: 991px) {
        padding-right: 45px;
      }

      @media (max-width: 767px) {
        order: 2;
      }
    }

    .feature-description {
      max-width: 445px;
      margin-left: auto;

      @media (max-width: 1199px) {
        width: 400px;
      }

      @media (max-width: 991px) {
        width: 300px;
      }

      @media (max-width: 767px) {
        width: 400px;
        margin-left: 30%;
      }

      @media (max-width: 575px) {
        margin-left: 15px;
        width: 295px;
      }

      .feature-description__title {
        padding-top: 75px;
        color: $white;
        font-size: 40px;
        line-height: 55px;

        @media (max-width: 1199px) {
          font-size: 30px;
          line-height: 35px;
        }

        @media (max-width: 991px) {
          padding-top: 30px;
        }

        @media (max-width: 767px) {
          font-size: 28px;
        }
      }

      .feature-description__text {
        font-size: 20px;
        line-height: 30px;
        color: $white;
        white-space: pre-line;
        padding-bottom: 75px;

        @media (max-width: 1199px) {
          font-size: 18px;
          line-height: 25px;
        }

        @media (max-width: 991px) {
          padding-bottom: 30px;
        }
      }
    }

    .feature-image-fluid {
      order: 2;
      background: url("../../img/img-side1.png") no-repeat;
      background-size: cover;
      width: 50%;

      @media (max-width: 1199px) {
        background-position-x: -150px;
      }

      @media (max-width: 767px) {
        background-position-x: unset;
        order: 1;
        width: 100%;
        height: 400px;
      }

      @media (max-width: 499px) {
        order: 1;
        width: 100%;
        height: 300px;
      }

      @media (max-width: 398px) {
        background-position-x: -40px;
      }
    }
  }
}